**1. 데이터 유형 및 연산자**

In [1]:
#number
3

3

In [3]:
#operation
1+1

2

In [4]:
8-1

7

In [5]:
10*2

20

In [6]:
35/5

7.0

In [7]:
#int형의 숫자를 나누기 연산을 하면 무조건 버림을 한다.
5//3

1

In [8]:
-5//3

-2

In [9]:
#float 데이터형도 마찬가지로 버림을 한다.
5.0//3.0

1.0

In [10]:
-5.0//3.0

-2.0

In [11]:
#나누기의 결과는 항상 float
10/3

3.3333333333333335

In [12]:
7%3

1

In [13]:
#i%j는 j와 항상 같은 부호를 갖는다.
-7%3

2

In [14]:
#지수화(x**y)
2**3

8

In [15]:
#연산에서 우선 순위를 적용하려고 할 땐 괄호를 사용한다.
1+3*2

7

In [16]:
(1+3)*2

8

In [17]:
#Boolean 데이터 타입은 기본 요소이다.
True

True

In [18]:
False

False

In [19]:
not True

False

In [20]:
not False

True

In [21]:
#Boolean 연산
True and False

False

In [22]:
False or True

True

In [23]:
#True는 1 False는 0이다.
True+True

2

In [24]:
True*8

8

In [25]:
False-5

-5

In [26]:
#비교 연산자는 True와 False의 숫자값으로 연산한다.
0==False

True

In [27]:
2>True

True

In [28]:
2==True

False

In [29]:
-5!=False

True

In [30]:
#None, 0, 빈 문자열/리스트/딕셔너리/튜플/세트 모두 False로 평가된다.
#다른 모든 값은 True다.
bool(0)

False

In [32]:
bool("")

False

In [33]:
bool([])

False

In [34]:
bool({})

False

In [35]:
bool(())

False

In [36]:
bool(set())

False

In [37]:
bool(4)

True

In [38]:
bool(-6)

True

In [39]:
#int형의 데이터에 대한 boolean 연산은 int를 boolean으로 평가한다.
#하지만 반환 시에는 int 형으로 반환한다.
bool(0)

False

In [40]:
bool(2)

True

In [41]:
0 and 2

0

In [42]:
bool(-5)

True

In [43]:
bool(2)

True

In [44]:
-5 or 0

-5

In [45]:
#Equality
1==1

True

In [46]:
2==1

False

In [47]:
#Inequality
1 != 1

False

In [48]:
2 != 1

True

In [49]:
#비교 연산자
1<10

True

In [50]:
1>10

False

In [51]:
2<=2

True

In [52]:
2>=2

True

In [53]:
#범위 내에 있는지 없는지
1 < 2 and 2 < 3

True

In [54]:
2 < 3 and 3 < 2

False

In [55]:
1 < 2 < 3

True

In [56]:
2 < 3 < 2

False

In [57]:
# is 는 두 변수가 같은 객체인지 판별하고, ==는 객체가 같은 값을 가르키는지 판단.
a = [1, 2, 3, 4]

In [58]:
b = a

In [59]:
b is a

True

In [60]:
b == a

True

In [61]:
b = [1, 2, 3, 4]

In [62]:
b is a

False

In [63]:
b == a

True

In [64]:
#python에서는 ""와 ''가 모두 문자열을 생성한다.
"This is a string."
'This is also a string.'

'This is also a string.'

In [65]:
#문자열끼리도 +연산이 가능하다.
"Hello " + "world!"

'Hello world!'

In [66]:
#+연산자 없이도 연접이 가능하다.
"Hello " "world!"

'Hello world!'

In [67]:
#인덱스를 통해 하나의 문자만 가져올 수 있다.
"Hello world!"[0]

'H'

In [68]:
#문자열의 길이
len("This is a string")

16

In [70]:
#python 3.6부터 formatted string을 사용할 수 있다.
name = "Reiko"

In [71]:
f"She said her name is {name}."

'She said her name is Reiko.'

In [72]:
f"{name} is {len(name)} characters long."

'Reiko is 5 characters long.'

In [73]:
#None도 객체이다.
"etc" is None

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\CMH\AppData\Local\Temp/ipykernel_2308/3101990747.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "etc" is None

False

In [74]:
None is None

True

**2. 변수와 집합**

In [75]:
#python의 출력 함수는 다음과 같이 사용한다.
print("I'm Python. Nice to meet you!")

I'm Python. Nice to meet you!

In [76]:
#end를 사용해 끝에 글자를 추가할 수 있다.
print("Hello, World", end="!")

Hello, World!

In [78]:
#console로 부터 input data 얻기 
input_string_var = input("Enter some data: ")

In [79]:
#변수는 선언이 아니라 할당이다.
some_var = 5

In [80]:
some_var

5

In [81]:
#이전에 할당되지 않은 변수를 엑세스 하는 것은 예외이다.
some_unknown_var

NameError: name 'some_unknown_var' is not defined

In [82]:
#가정문
"yay!" if 0 > 1 else "nay!"

'nay!'

In [83]:
#빈 list 선언
li = []
#채워진 list 선언
other_li = [4, 5, 6]

In [84]:
#append를 통해 리스트에 요소 추가
li.append(1)   
li.append(2)  
li.append(4)    
li.append(3)

In [85]:
#pop method는 리스트의 마지막 요소 없애기
li.pop()

3

In [86]:
li.append(3)

In [88]:
#인덱스를 통해 list의 한 값 가져오기
li[0]

1

In [89]:
#마지막 요소 가져오기
li[-1]

3

In [90]:
#인덱스의 범위 밖에는 error발생
li[4]

IndexError: list index out of range

In [92]:
#인덱스를 통한 list slicing
li[1:3]

[2, 4]

In [93]:
li[2:]

[4, 3]

In [94]:
li[:3]

[1, 2, 4]

In [95]:
li[::2]

[1, 4]

In [96]:
li[::-1]

[3, 4, 2, 1]

In [97]:
#slicing 후 변수 지정
li2 = li[:]

In [98]:
#인덱스로 리시트 요소 삭제
del li[2]

In [99]:
#값으로 리스트 요소 삭제
li.remove(2)

In [100]:
#없는 값은 error 발생
li.remove(2)

ValueError: list.remove(x): x not in list

In [101]:
#insert(x,y) x인덱스에 y 값 추가
li.insert(1, 2)

In [102]:
#index 함수를 통해서도 가능
li.index(2)

1

In [103]:
li.index(4)

ValueError: 4 is not in list

In [105]:
#+ 연산자를 통해 리스트 합치기 가능
li + other_li

[1, 2, 3, 4, 5, 6]

In [106]:
#extend()는 연접 하는 함수
li.extend(other_li)

In [107]:
#1이 li list에 있는지 확인
1 in li

True

In [108]:
#리스트 길이 체크
len(li)

6

In [109]:
#튜플은 리스트와 같으나 변경할 수 없다.
tup = (1, 2, 3)

In [110]:
tup[0]

1

In [111]:
tup[0] = 3

TypeError: 'tuple' object does not support item assignment

In [112]:
#길이가 1인 튜플은 뒤에 쉼표가 있어야 하지만 다른 길이의 튜플은 쉼표가 없다.
type((1))

int

In [113]:
type((1,))

tuple

In [114]:
type(())

tuple

In [115]:
#튜플에 대한 다양한 연산
len(tup)

3

In [116]:
tup + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [118]:
tup[:2]

(1, 2)

In [119]:
2 in tup

True

In [120]:
#튜플 또는 리스트는 변수로 각 요소를 지정할 수 있다.
a, b, c = (1, 2, 3)

In [121]:
a, *b, c = (1, 2, 3, 4)

In [122]:
d, e, f = 4, 5, 6

In [123]:
e, d = d, e

In [124]:
#딕셔너리는 key와 value로 저장한다.
empty_dict = {}

In [125]:
filled_dict = {"one": 1, "two": 2, "three": 3}

In [126]:
#key는 변경할 수 없는 데이터 타입으로 지정되어야 하며, int, float, string, tuple등이 있다.
#리스트로 할 시 error
invalid_dict = {[1,2,3]: "123"}

TypeError: unhashable type: 'list'

In [127]:
#value는 어떠한 데이터 타입도 상관없다.
valid_dict = {(1,2,3):[1,2,3]}

In [128]:
filled_dict["one"]

1

In [129]:
#keys()를 통해 key의 모든 값을 가져온다.
list(filled_dict.keys())

['one', 'two', 'three']

In [130]:
#values()를 통해 value의 모든 값을 가져옵니다.
list(filled_dict.values())

[1, 2, 3]

In [132]:
#딕셔너리에 요소 있는지 확인
"one" in filled_dict

True

In [133]:
1 in filled_dict

False

In [134]:
filled_dict["four"]

KeyError: 'four'

In [135]:
#위와 같은 error를 발생하고 싶지 않다면 get()함수 사용
filled_dict.get("one")

1

In [136]:
filled_dict.get("four")

In [137]:
#get()은 값이 누락된 경우 기본 인수를 지원한다.
filled_dict.get("one", 4)

1

In [139]:
filled_dict.get("four", 4)

4

In [140]:
#지정된 키가 없는 경우 setdefault()를 통해 사전에 입력
filled_dict.setdefault("five", 5)

5

In [141]:
filled_dict.setdefault("five", 6)

5

In [142]:
#딕셔너리 추가
filled_dict.update({"four":4})

In [143]:
filled_dict["four"] = 4

In [144]:
#key 삭제
del filled_dict["one"]

In [145]:
{'a': 1, **{'b': 2}}

{'a': 1, 'b': 2}

In [146]:
{'a': 1, **{'a': 2}}

{'a': 2}

In [147]:
#sets 객체
empty_set = set()

In [148]:
some_set = {1, 1, 2, 2, 3, 4}

In [150]:
#딕셔너리와 비슷하나 요소가 변경되지 않는다.
#리스트가 key로 설정되지 않음
invalid_set = {[1], 1}

TypeError: unhashable type: 'list'

In [151]:
valid_set = {(1,), 1}

In [153]:
#item 더하기
filled_set = some_set
filled_set.add(5)

In [154]:
#sets는 중복 요소가 없다.
filled_set.add(5)

In [155]:
other_set = {3, 4, 5, 6}

In [157]:
#&를 통해 intersection 계산
filled_set & other_set

{3, 4, 5}

In [158]:
#|를 통해 union 계산
filled_set | other_set

{1, 2, 3, 4, 5, 6}

In [159]:
#두 sets간의 차이 계산
{1, 2, 3, 4} - {2, 3, 5}

{1, 4}

In [160]:
#대칭 차이 계산
{1, 2, 3, 4} ^ {2, 3, 5}

{1, 4, 5}

In [161]:
#비교 연산
{1, 2} >= {1, 2, 3}

False

In [162]:
{1, 2} <= {1, 2, 3}

True

In [163]:
#요소가 존재하는지 검사
2 in filled_set

True

In [164]:
10 in filled_set

False

In [165]:
#sets 복사
filled_set = some_set.copy()

In [166]:
#같은 객체가 아니다.
filled_set is some_set

False

**3. 가정문 및 반복문**

In [167]:
some_var = 5

In [169]:
#기본적인 가정문
if some_var > 10:
    print("some_var is totally bigger than 10.")
elif some_var < 10:
    print("some_var is smaller than 10.")
else:
    print("some_var is indeed 10.")

some_var is smaller than 10.

In [170]:
#기본적인 반복문
for animal in ["dog", "cat", "mouse"]:
    print("{} is a mammal".format(animal))

dog is a mammal
cat is a mammal
mouse is a mammal

In [173]:
#range를 통한 반복문
for i in range(4):
    print(i)

0
1
2
3

In [172]:
for i in range(4, 8):
    print(i)

4
5
6
7

In [174]:
for i in range(4, 8, 2):
    print(i)

4
6

In [176]:
#enumerate를 통한 반복문=> index와 요소를 같이 출력
animals = ["dog", "cat", "mouse"]
for i, value in enumerate(animals):
    print(i, value)

0 dog
1 cat
2 mouse

In [178]:
#초기값 설정
x = 0
while x < 4:
    print(x)
    x += 1

0
1
2
3

In [180]:
#try/except를 통한 예외처리
try:
    raise IndexError("This is an index error")
except IndexError as e:
    pass
except (TypeError, NameError):
    pass
else:
    
    print("All good!")
finally:
    print("We can clean up resources here")

We can clean up resources here

In [1]:
#with문을 통해 file 열기
with open("myfile.txt") as f:
    for line in f:
        print(line)

In [2]:
#파일에 쓰기
contents = {"aa": 12, "bb": 21}
with open("myfile1.txt", "w+") as file:
    file.write(str(contents))

In [3]:
import json
with open("myfile2.txt", "w+") as file:
    file.write(json.dumps(contents))

In [4]:
#파일 읽기
with open('myfile1.txt', "r+") as file:
    contents = file.read()
print(contents)

{'aa': 12, 'bb': 21}

In [5]:
with open('myfile2.txt', "r+") as file:
    contents = json.load(file)
print(contents)

{'aa': 12, 'bb': 21}

In [8]:
#python은 iterable이라 불리는 시퀀스로 처리할 수 있는 객체를 지원한다.
filled_dict = {"one": 1, "two": 2, "three": 3}
our_iterable = filled_dict.keys()
print(our_iterable)

dict_keys(['one', 'two', 'three'])

In [9]:
#반복문을 통해 하나씩 출력 가능
for i in our_iterable:
    print(i)

one
two
three

In [10]:
#index로는 처리할 수 없다.
our_iterable[1]

TypeError: 'dict_keys' object is not subscriptable

In [11]:
#iter를 통해 iterable 객체 생성
our_iterator = iter(our_iterable)

In [12]:
#iterable 객체에서 현재 요소를 기억한 후 다음 요소는 next로 지정할 수 있다.
next(our_iterator)

'one'

In [13]:
next(our_iterator)

'two'

In [14]:
next(our_iterator)

'three'

In [15]:
#다음 요소가 없으면 error
next(our_iterator)

StopIteration:

In [16]:
list(our_iterable)

['one', 'two', 'three']

In [17]:
list(our_iterator)
#state가 저장되었기 때문에 [] 반환

[]

**4. 함수**

In [18]:
#간단한 함수 선언
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y

In [19]:
#함수 호출
add(5, 6)

x is 5 and y is 6

11

In [20]:
#인자 지정하여 함수 호출
add(y=6, x=5)

x is 5 and y is 6

11

In [22]:
#가변적인 인자를 정의하여 함수 정의가 가능하다.
def varargs(*args):
    return args

In [23]:
varargs(1, 2, 3)

(1, 2, 3)

In [24]:
#keyword 인자를 통해 다양한 수의 인자를 받는 함수 정의
def keyword_args(**kwargs):
    return kwargs

In [25]:
#함수 호출
keyword_args(big="foot", loch="ness")

{'big': 'foot', 'loch': 'ness'}

In [26]:
#동시에 가능
def all_the_args(*args, **kwargs):
    print(args)
    print(kwargs)

In [27]:
args = (1, 2, 3, 4)
kwargs = {"a": 3, "b": 4}

In [28]:
#둘 중 하나만 인자로 받는 것도 가능하다.
all_the_args(*args)

(1, 2, 3, 4)
{}

In [29]:
all_the_args(**kwargs)

()
{'a': 3, 'b': 4}

In [30]:
all_the_args(*args, **kwargs)

(1, 2, 3, 4)
{'a': 3, 'b': 4}

In [31]:
#두 개의 변수를 반환하는 것도 가능하다.
def swap(x, y):
    return y, x

In [32]:
x = 1
y = 2
x, y = swap(x, y)

In [34]:
#전역 변수를 선언하여 사용 가능
x = 5
def set_x(num):
    x = num
    print(x)

def set_global_x(num):
    global x #global은 변수가 global 변수임을 명시
    print(x)
    x = num
    print(x)

In [35]:
set_x(43)
set_global_x(6)

43
5
6

In [36]:
#함수 안에 함수 정의 가능하다.
def create_adder(x):
    def adder(y):
        return x + y
    return adder

In [38]:
add_10 = create_adder(10)
add_10(3)

13

In [39]:
#익명의 함수도 존재한다.
(lambda x: x > 2)(3)

True

In [40]:
(lambda x, y: x ** 2 + y ** 2)(2, 1)

5

In [41]:
#함수도 순서대로 진행된다.
list(map(add_10, [1, 2, 3]))

[11, 12, 13]

In [42]:
list(map(max, [1, 2, 3], [4, 2, 1]))

[4, 2, 3]

In [43]:
list(filter(lambda x: x > 5, [3, 4, 5, 6, 7]))

[6, 7]

In [44]:
#list를 반복해서 list의 요소를 함수에 입력이 가능하다.
[add_10(i) for i in [1, 2, 3]]

[11, 12, 13]

In [45]:
[x for x in [3, 4, 5, 6, 7] if x > 5]

[6, 7]

In [46]:
#sets와 dict도 가능하다.
{x for x in 'abcddeef' if x not in 'abc'}

{'d', 'e', 'f'}

In [47]:
{x: x**2 for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

**5. 모듈**

In [48]:
#모듈 가져오기
import math
print(math.sqrt(16))

4.0

In [49]:
#모듈 내의 클래스 함수 가져오기
from math import ceil, floor
print(ceil(3.7))
print(floor(3.7))

4
3

In [50]:
#추천하진 않지만 다음과 같은 방법으로 모듈 내 전체 함수 가져오기
from math import *

In [51]:
#모듈의 이름을 짧게 정의하기 가능
import math as m
math.sqrt(16) == m.sqrt(16)

True

In [52]:
#함수가 어떤 모듈에 정의되어 있는지 확인 가능하다.
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

**6. 클래스**

In [53]:
#클래스 정의
class Human:
    #클래스의 attribute, 모든 인스턴스에서 공유된다.
    species = "H. sapiens"
    #생성자 정의, 생성자는 클래스가 인스턴스화될 때 호출된다.
    #생성자의 __init__, __str__, __repr__같은 메서드는 특수메서드로 따로 지정되어서는 안된다.
    def __init__(self, name):
        self.name = name
        self._age = 0
    #클래스의 모든 함수는 self를 인자로 받는다.
    def say(self, msg):
        print("{name}: {message}".format(name=self.name, message=msg))
    
    def sing(self):
        return 'yo... yo... microphone check... one two... one two...'
    
    #classmethod는 가장 처음 인수로 호출된다.
    @classmethod
    def get_species(cls):
        return cls.species
    
    #정적 메소드는 참조 없이 호출된다.
    @staticmethod
    def grunt():
        return "*grunt*"
    
    #property는 getter와 같다. 이는 읽기 전용 attribute를 반환한다.
    @property
    def age(self):
        return self._age
    #setter
    @age.setter
    def age(self, age):
        self._age = age
    #delete
    @age.deleter
    def age(self):
        del self._age

In [54]:
#python은 모든 소스 파일을 읽고 실행을한다. __name__은 메인 프로그램일 때에만 코드가 실행되도록 한다.
if __name__ == '__main__':
    #클래스의 객체화
    i = Human(name="Ian")
    i.say("hi")
    j = Human("Joel")
    j.say("hello")

    #함수 호출
    i.say(i.get_species())
    #공유 attribute 변경
    Human.species = "H. neanderthalensis"
    i.say(i.get_species())
    j.say(j.get_species())

    #정적 함수 호출
    print(Human.grunt())

    print(i.grunt())

    #객체의 property update
    i.age = 42
    i.say(i.age)
    j.say(j.age)
    del i.age

Ian: hi
Joel: hello
Ian: H. sapiens
Ian: H. neanderthalensis
Joel: H. neanderthalensis
*grunt*
*grunt*
Ian: 42
Joel: 0

**6.1 상속**